version: '3'

services:
  #  docker run -d --name axonserver -p 8024:8024 -p 8124:8124 axoniq/axonserver
  axon-server:
    image: axoniq/axonserver:latest
    ports:
      - 8024:8024
      - 8124:8124
    environment:
      - AXONIQ_AXONSERVER_STANDALONE=true
    volumes:
      - axon-data:/data
      - axon-eventdata:/eventdata
      - ./axon/config:/config
  prometheus:
    image: prom/prometheus
    ports:
      - 9090:9090
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    depends_on:
      - axon-server
  loki:
    image: grafana/loki
    command: [ "-config.file=/etc/loki/local-config.yaml" ]
    ports:
      - "3100:3100"
  grafana:
    image: grafana/grafana
    ports:
      - 3000:3000
    volumes:
      - ./grafana/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/dashboards:/var/lib/grafana/dashboards/
      - ./grafana/dashboards.yml:/etc/grafana/provisioning/dashboards/dashboards.yml
    depends_on:
      - prometheus
    environment:
      GF_SECURITY_ADMIN_USER: admin
      GF_SECURITY_ADMIN_PASSWORD: admin
  postgres-courses:
    image: postgres:17
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: db
  postgres-enrollment:
    image: postgres:17
    ports:
      - 5433:5432
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: db
  postgres-forum:
    image: postgres:17
    ports:
      - 5434:5432
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: db
  postgres-assignment:
    image: postgres:17
    ports:
      - 5435:5432
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: db
  courses-service:
    image: kotlin-seminar/courses-service
    build:
      context: .
      dockerfile: courses-service/Dockerfile
    ports:
      - 8081:8080
    depends_on:
      - axon-server
      - postgres-courses
      - loki
      - prometheus
    environment:
      spring_profiles_active: prod
      LOKI_ADD: loki
      LOKI_PORT: 3100
    volumes:
      - ./spring/config:/config
  enrollment-service:
    image: kotlin-seminar/enrollment-service
    build:
      context: .
      dockerfile: enrollment-service/Dockerfile
    ports:
      - 8080:8080
    depends_on:
      - axon-server
      - postgres-enrollment
      - loki
      - prometheus
    environment:
      spring_profiles_active: prod
      LOKI_ADD: loki
      LOKI_PORT: 3100
    volumes:
      - ./spring/config:/config
  forum-service:
    image: kotlin-seminar/forum-service
    build:
      context: .
      dockerfile: forum-service/Dockerfile
    ports:
      - 8082:8080
    depends_on:
      - axon-server
      - postgres-forum
      - loki
      - prometheus
    environment:
      spring_profiles_active: prod
      LOKI_ADD: loki
      LOKI_PORT: 3100
    volumes:
      - ./spring/config:/config
  assignment-service:
    image: kotlin-seminar/assignment-service
    build:
      context: .
      dockerfile: assignment-service/Dockerfile
    ports:
      - 8083:8080
    depends_on:
      - axon-server
      - postgres-forum
      - loki
      - prometheus
    environment:
      spring_profiles_active: prod
      LOKI_ADD: loki
      LOKI_PORT: 3100
    volumes:
      - ./spring/config:/config




volumes:
  axon-data:
  axon-eventdata: