spring:
  application:
    name: enrollment-service

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  datasource:
    url: jdbc:postgresql://main-rw.cnpg-system.svc.cluster.local:5432/enrollment-service
    driver-class-name: org.postgresql.Driver
    username: enrollment-service
    password: admin
    jackson:
      property-naming-strategy: SNAKE_CASE

server:
  port: 8080

axon:
  axonserver:
    servers: axon-server:8124

management:
  metrics:
    enable:
      process.cpu: false
      system: false
  endpoints:
    web:
      exposure:
        include:
          - health
          - metrics
          - prometheus

logging:
  loki:
    url: http://loki:3100