spring:
  application:
    name: courier-service
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  datasource:
    url: jdbc:postgresql://postgres-courier:5432/db
    driver-class-name: org.postgresql.Driver
    username: admin
    password: admin
    jackson:
      property-naming-strategy: SNAKE_CASE

server:
  port: 8080

axon:
  axonserver:
    servers: axon-server:8124

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - metrics
          - prometheus

logging:
  loki:
    url: http://loki:3100
